$Moderatecyan: hsl(176, 50%, 47%);
$Darkcyan: hsl(176, 72%, 28%);



$Black: hsl(0, 0%, 0%);
$Darkgray: hsl(0, 0%, 48%);

@import "thank.scss";
@import "1440.scss";
@import "general.scss";
@import "box.scss";
@import "navbar.scss";
@import "backToProject.scss";